{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function id_to_player_name(id) {
      switch(id) {
        case '1':
          return 'Joaquin'
          break;
        case '2':
          return 'Nerea'
          break;
        case '3':
          return 'Laura'
          break;
        case '4':
          return 'Aitor'
          break;
        case '5':
          return 'Sergio'
          break;
        case '6':
          return 'Anton'
          break;
        case '7':
          return 'Aina'
          break;
        case '8':
          return 'Diego'
          break;
        case '9':
          return 'Miranda'
          break;
        case '10':
          return 'Paula'
          break;
        case '11':
          return 'Pablo'
          break;
      }
    }
    function updateContent() {
            $.ajax({
                url: '{% url "get_cards" %}', 
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    score_counter = [0, 0];
                    for (let key in data) {
                      let value = data[key]

                      switch (value) {
                        case 'verde':
                          $(`#card${key}`).text("🟩")
                          $(`#mcard${key}`).text("🟩")
                          score_counter[0]++;
                          break;
                        case 'roja':
                          $(`#card${key}`).text("🟥")
                          $(`#mcard${key}`).text("🟥")
                          score_counter[1]++;
                          break;
                        case 'prof':
                          $(`#card${key}`).text("p")
                          $(`#mcard${key}`).text("p")
                          break;
                      }
                    };
                    
                    score_counter = "🟩 " + score_counter.join(" - ") + " 🟥"
                    $("#score_counter").text(score_counter)
                    updateLogs();
                    updateCardSelectorBtn();
                    updateInfo();
                    updateScoreboard();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

    function updateInfo() {
      $.ajax({
        type: 'GET',
        url: '{% url "get_info" %}',
        success: function(data) {
          console.log(data.turn_number)
          $("#turn_info").text(`Día: ${data.turn_number}`)
        },
        error: function(data) {
          console.log("ajax error")
        }
      })
    }
        
    function sendCardChange(cardtype) {
      $.ajax({
        type: "GET",
        url: '{% url "card_change" %}',
        data: {
          'data_sent': cardtype
        },
        success: function(response){
          updateContent();
        },
        error: function(error){
          console.log("ajax error")
        }
      });
    }

    function updateScoreboard() {
      $.ajax({
        type: "GET",
        url: '{% url "get_scoreboard" %}',
        success: function(data){
          let scoreboard_json = data;
          var scoreboard_list = $('#scoreboard');
          scoreboard_list.empty();
          $.each(scoreboard_json, function(key, value) {
            key = id_to_player_name(key);
            var listItem = $('<li>').text(key + ': ' + value.total_sum);
            scoreboard_list.append(listItem)
          })
        },
        error: function(error){
          console.log("ajax error");
        }
      });
    }

    function updateLogs() {
      $.ajax({
        type: "GET",
        url: '{% url "get_logs" %}',
        success: function(data) {
          const logs = data
          const logsList = $('#logs');

          logsList.empty();
          let listItem;
          $.each(logs, function(index, log) {
            switch (log.tags[0]) {
              case 'profeta_message':
                listItem = $('<li>').text(`[${log.timestamp}] MENSAJE DEL PROFETA: ${log.text}`);
                break;
              case 'cardupdate':
                listItem = $('<li>').text(`[${log.timestamp}] ${log.text}`);
                break;
              case 'turninfo':
                listItem = $('<li>').text(`[${log.timestamp}] ${log.text}`);
                break;
            };
            
            
            logsList.prepend(listItem);
          });
        },
        error: function(data) {
          console.log("ajax error")
        }
      });
    }

    function updateCardSelectorBtn() {
      console.log("test")
      $.ajax({
        type: "GET",
        url: '{% url "get_user_card" %}',
        data: {
          'data_sent': 'nada'
        },
        success: function(response){
          if (response['card'] == 'verde') {
            $("#btnverde").prop('checked', true);
          } else if (response['card'] == 'roja') {
            $("#btnrojo").prop('checked', true)
          }
        },
        error: function(error){
          console.log('ajax error')
        }
      })
    }

    $(document).ready(function(){
        updateContent();
        setInterval(updateContent, 10000);
        $("#btnverde").click(function(){
          sendCardChange("verde");
            });

        $("#btnrojo").click(function(){
          sendCardChange("roja");
            });
        
        $("#update-btn").click(function(){
          updateContent();
        })
        loadStyle();
    });

    document.addEventListener('DOMContentLoaded', function() {
            $('#footer').remove();
            $('.navbar').remove();
    });

  </script>
  
</head>
<style>
    .cell {
        font-size: 50px;
    }
</style>

<div class="container" style="font-family:monospace">
    <h1 style="color: white; text-align: center; background-color: rgb(48, 48, 48); font-size: 50px;"><strong>▥ ENIGMA DEL PRISIONERO ▥</strong></h1>
    <br>
    <div style="text-align: center;"><img src="{% static 'images/bloodbar.gif' %}" alt="" class="img-fluid"></div>
    
    <br>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                      <h2 id="score_counter">🟩 - 🟥</h2>
                    </div>
                    <div class="card-body">
                        <div class="container text-center d-none d-md-block">
                            <div class="row">
                              <div class="col cell" id="card1">
                                ⬜
                              </div>
                              <div class="col cell" id="card2">
                                ⬜
                              </div>
                              <div class="col cell" id="card3">
                                ⬜
                              </div>
                              <div class="col cell" id="card5">
                                ⬜
                              </div>
                              <div class="col cell" id="card6">
                                ⬜
                              </div>
                            </div>
                            <div class="row">
                              <div class="col cell" id="card7">
                                ⬜
                              </div>
                              <div class="col cell" id="card8">
                                ⬜
                              </div>
                              <div class="col cell" id="card9">
                                ⬜
                              </div>
                              <div class="col cell" id="card10">
                                ⬜
                              </div>
                              <div class="col cell" id="card11">
                                ⬜
                              </div>
                            </div>
                        </div>
                        <div class="container text-center d-md-none">
                            <div class="row">
                                <div class="col-6 cell" id="mcard1">
                                  ⬜
                                </div>
                                <div class="col-6 cell" id="mcard2">
                                  ⬜
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 cell" id="mcard3">
                                  ⬜
                                </div>
                                <div class="col-6 cell" id="mcard5">
                                  ⬜
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 cell" id="mcard6">
                                  ⬜
                                </div>
                                <div class="col-6 cell" id="mcard7">
                                  ⬜
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 cell" id="mcard8">
                                  ⬜
                                </div>
                                <div class="col-6 cell" id="mcard9">
                                  ⬜
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 cell" id="mcard10">
                                  ⬜
                                </div>
                                <div class="col-6 cell" id="mcard11">
                                  ⬜
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <div class="card-header">
                    Cambiar mi carta
                  </div>
                  <div class="card-body">
                    <p class="card-text">Usa los botones de abajo para seleccionar tu carta.</p>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="btnradio" id="btnverde" autocomplete="off">
                      <label class="btn btn-outline-secondary" for="btnverde">🟩</label>
                    
                      <input type="radio" class="btn-check" name="btnradio" id="btnrojo" autocomplete="off">
                      <label class="btn btn-outline-secondary" for="btnrojo">🟥</label>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">Información</div>
              <div class="card-body">
                <h3 id="turn_info" style="font-weight: 1000;"></h3>
                <h3>Prisopuntos</h3>
                <ul id="scoreboard">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">Cómo jugar</div>
              <div class="card-body">
                <a href="{% url 'welcome' %}">Instrucciones</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
            <h5 class="card-header">Registro</h5>
            <div class="card-body">
                <div style="height: 300px; overflow-y: scroll;">
                    <ul id="logs">
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <div class="card">
              <h5 class="card-header">Configuración</h5>
              <div class="card-body">
                <a class="btn btn-primary" id="update-btn">Actualizar (auto 10s)</a>
              </div>
          </div>
          </div>
        </div>
    </div>
    <br>
    <div style="text-align: center;"><img src="{% static 'images/prisoncells.gif' %}" alt="" class="img-fluid"></div>
</div>
<style>
  body {
    background-image: url("{% static 'images/brick_wall_small.jpg' %}");
    background-repeat: repeat; /* Repeat the image to cover the entire background */
    background-attachment: fixed; /* Fix the background while scrolling */
    background-size: auto; /* Set background size to auto (actual image size) */
  }

  .card {
    border-radius: 0;
    border-width: 5px;
    background-color: rgb(48, 48, 48);
  }

  .btn {
    border-radius: 0;
  }

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness (0.5 for 50% opacity) */
  }
</style>


{% endblock %}