{% extends 'core/base.html' %}
{% block content %}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mbds' %}">M.B.D.</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mbd' mbd.id %}">{{ mbd.id }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modificar M.B.D.</li>
    </ol>
</nav>
<br>
<h1>Modificar M.B.D.</h1>
<br>

<form method="POST", class="w-50 p-3">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Modificar M.B.D.</button>

</form>

</div>


{% endblock %}