{% extends 'core/base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'drgs' %}">Drg</a></li>
      <li class="breadcrumb-item"><a href="{% url 'drg' drg.id %}">{{ drg.id }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modificar Drg</li>
    </ol>
</nav>
<br>
<h1>Modificar Drg</h1>
<br>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Modificar Drg</button>

</form>


{% endblock %}