{% extends 'core/base.html' %}
{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'gps' %}">G.P.</a></li>
      <li class="breadcrumb-item active" aria-current="page">Añadir un G.P.</li>
    </ol>
</nav>
<br>
<h1>Agregar nuevo G.P.</h1>
<br>

<form method="POST" action="{% url 'add_gp' %}" class="w-50 p-3">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-secondary">Agregar G.P.</button>

</form>
</div>


{% endblock %}