{% extends 'core/base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'gps' %}">G.P.</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ gp.id }}</li>
  </ol>
</nav>
<br>
<div class="card">
  <h5 class="card-header">G.P. ID: {{ gp.id }} 
  {% if gp.valid == "Si" %}
    <span class="badge bg-success bi bi-check-lg">Válido</span>
  {% endif %}
  {% if gp.valid == "No" %}
    <span class="badge bg-danger bi bi-x-lg">Inválido</span>
  {% endif %}
  {% if gp.valid == "Sin revisar" %}
    <span class="badge bg-warning bi bi-asterisk"> Sin revisar</span>    
  {% endif %}
  {% if gp.locked == True %}
    <span class="badge bg-secondary bi bi-lock"> </span>    
  {% endif %}
  
  </h5>
  <div class="card-body">
    <p class="card-text"><strong>Jugador: </strong>{{ gp.person.name}}</p>
    <p class="card-text"><strong>Día: </strong>{{ gp.date}}</p>
    <p class="card-text"><strong>Hora: </strong>{{ gp.time}}</p>
    <p class="card-text"><strong>M.B.D.: </strong>{{ gp.mbd.time }}</p>
    <p class="card-text"><strong>Drg: </strong>{{ gp.mbd.drg.time }}</p>
    <p class="card-text"><strong>Comentarios: </strong>{{ gp.comment }}</p>
    <hr>
    {% if gp.mbd %}
      <a href="{% url 'mbd' gp.mbd.id %}" type="button" class="btn btn-primary">Ver M.B.D.</a>
    {% else %}
    {% endif %}

    {% if gp.mbd.drg %}
      <a href="{% url 'drg' gp.mbd.drg.id %}" type="button" class="btn btn-primary">Ver Drg</a>
    {% else %}

    {% endif %}
    
    
  </div>
</div>
<br>
{% if user.is_authenticated %}
<div class="card">
  <h5 class="card-header">Acciones</h5>
  <div class="card-body">
      <a href="{% url 'delete_gp' gp.id %}" type="button" class="btn btn-danger bi bi-trash3"> Eliminar</a>
      <a href="{% url 'update_gp' gp.id %}" type="button" class="btn btn-warning bi bi-pencil-square"> Modificar</a>
      <a href="{% url 'validate_gp' gp.id %}" type="button" class="btn btn-success bi bi-check-circle"> Validar</a>
</div>
{% else %}
<div class="card">
  <h5 class="card-header">Acciones</h5>
  <div class="card-body">
      <p>Debes <a href="{% url 'login' %}">iniciar sesión</a> para modificar este G.P.</p>
</div>
{% endif %}

</div>



{% endblock %}