<style>
    .footer {
        background-color: #303434; /* Change this to your desired background color */
    }

    a {
        color: rgb(188, 188, 188);
    }
</style>

<footer class="footer" id="footer">
    <div class="container">
        <br>
        <br> 
        <br>
        <div class="container text-center">
            <div class="row align-items-start text-start">
              <div class="col-md-4 col-sm-12">
                <h1>Portal G.P.</h1>
                <p>¡Larga vida al G.P.!</p>
                <a href="{% url 'about' %}">Acerca de</a>
<!--                 <p class="bi bi-envelope"> gp@wikigp.info</p>
                <p class="bi bi-telephone"> +99 977 32 43 11</p>
                <p class="bi bi-geo-alt"> Sede Central G.P. - Avenida de Pablo el Agradecido Nº23, Penedès, Catalunya</p>
                <p class="bi bi-clock"> 10:00 - 14:00 de lunes a viernes</p> -->
              </div>
              <br>
              <div class="col-md-4 col-sm-12">
                <h3>Links</h3>
                <ul class="list-unstyled">
                    <a href="{% url 'gps' %}"><li>G.P.</li></a>
                    <a href="{% url 'mbds' %}"><li>M.B.D.</li></a>
                    <a href="{% url 'drgs' %}"><li>Drgs</li></a>
                </ul>
              </div>
              <div class="col-md-4 col-sm-12">
                <h3 class="bi bi-box-arrow-up-right"> Enlaces externos</h3>
                <ul class="list-unstyled">
                    <a href="https://wikigp.info"><li>Wiki G.P.</li></a>
                    <a href=""><li>Constitución</li></a>
                    <a href="https://es.wikipedia.org/wiki/Sergio_Dalma"><li>Sergio Dalma (Wikipedia)</li></a>
                </ul>
              </div>
            </div>
          </div>

    </div>
    <br>
    <br>
    <br>
    <br>
</footer>