{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-family: 'MonospaceFont', monospace;">
    <center>
        <div class="text-center">
            <div>
                <h1 style="background-color: yellow;">página web en construcción. hay cosas que van y cosas que no van.</h1>
                <h3>estamso picando piedra día y noche para que los jugadores del gp puedan disfrutar muy pronto de portalgp y sobretodo el sistema de notas</h3>
                <h3>gracias por confiar en el equipo de portalgp</h3>
                <p>hay cosas raras si entras desde el móvil porque pues eso está todo a medias aún así que se ve mejrod sdesde el ordenador gracias</p>
                <p>$$$$$$$$$$$$$$$$$$$$</p>
            <h2><a href="{% url 'home' %}">he leído esta advertencia y quiero continuar a portalgp</a></h2>
            </div>
            <br>
            <img src="{% static 'images/construction.gif' %}" alt="" width="40%">
          </div>
    </center>
</body>

