{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-family: 'MonospaceFont', monospace;">
    <center>
        <h1>CÉLULA DE RESISTENCIA GEPERA</h1>
        <h3>MANIFESTO</h3>
        <p>Los miembros de la Célula de Resistencia Gepera CRGP proclamamos:</p>
        <p>a) El truco ha sido completamente legal. Miranda den Boer Marín no ha comparado el M.B.D. de hoy con los Siete Mensajes Clásicos y ha sufrido las consecuencias. Que el Profeta juegue un rol disruptor no es nada nuevo, hay precedentes de sobras. Además, la Profeta ha actuado en plena autonomía: ha hecho las cosas cómo y cuándo ha querido.</p>
        <p>b) La única ilegalidad y tiranía cometida el día de hoy ha sido por parte de Miranda den Boer Marín. La expulsión de miembros del grupo mediante el abuso de los poderes de administración está penada por el artículo 6.3.b y la expulsión de hasta TRES (3) miembros es un despotismo de propociones nunca antes vistas.</p>
        <p>c) La profecía del Agosto Rojo debía cumplirse.</p>
        <p>Los miembros del CRGP reclamamos:</p>
        <p>1) La readmisión en el grupo "a chuparla toke de keta👮🏻‍♂️🔥" de todos los miembros expulsados.</p>
        <p>2) La dimisión de Miranda den Boer Marín del cargo de administración.</p>
        <p>3) Un comunicado oficial de disculpas por parte de Miranda den Boer Marín.</p>
        <img src="{% static 'images/resistencia.jpg' %}" alt="" width="50%">

        
    </center>
</body>
<style>
    body {
        background-color: black;
    }

    h1 {
        color: white;
        background-color: red;
    }

    p {
        color: white;
    }
</style>
